<ion-content>

  <div class="">
    <img src="../../../../assets/logo-new.png" alt="" srcset="">
  </div>

  <div id="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="">
      <ion-list class="list-md">

        <ion-item class="espacioRelleno">

          <ion-input class="input-text"  placeholder="correo" formControlName="email">
            <ion-icon class="input-icon" slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
          </ion-input>

        </ion-item>

        <ion-item class="espacioRelleno">

          <ion-input class="input-text" type="{{ mostrarPassword ? 'text' : 'password' }}" placeholder="contraseña" formControlName="password">
            <ion-icon class="input-icon" slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
            <ion-button class="verPass" fill="clear" slot="end" aria-label="Show/hide" (click)="togglePassword()">
              <ion-icon slot="icon-only" [name]="mostrarPassword ? 'eye' : 'eye-off'" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-input>

        </ion-item>

        <ion-button class="btn-iniciarSesion" expand="block" type="submit">Ingresar</ion-button>

      </ion-list>
    </form>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="custom-footer ">
    <p>¿No tienes cuenta? <a [routerLink]="['/auth/register']">Regístrate aquí</a></p>
  </div>
</ion-footer>