ion-content {
    --background: var(--ion-color-primario1);
}

#container {
    padding: 35px 25px 12px 25px;
}

.logo {
    transform: translate(-50%, -50%);
    z-index: 2;
}

.espacioRelleno {
    border-radius: 15px;
    margin-bottom: 15px;
    --background: var(--ion-color-primario1);
}

.list-md{
    background-color: var(--ion-color-primario1);
}


.verPass{
    --color: var(--ion-color-btn1);
    --background: var(--ion-color-primario1);
}

.input-icon{
    color: var(--ion-color-btn1);
}

.input-text{
    color: #9cb8b6;
}

.btn-iniciarSesion {
    --background: var(--ion-color-btn1);
    --color: var(--ion-color-primario1);
    margin-top: 30px;
    font-weight: bold;
}

.custom-footer p {
    font-size: 13px;
    margin: 0px;
    padding: 20px;
    color: #9cb8b6;
    background-color: var(--ion-color-primario1);
    text-align: center;
}

.custom-footer p a {
    color: var(--ion-color-btn1);
    text-decoration: none;
}