ion-item {
    border-radius: 20px;
}

ion-button {
    --background: #A79277;
    --background-hover: #d7cbba;
    --background-activated: #b19d82;
    --background-focused: #A79277;

    --color: white;

    --padding-top: 10px;
    --padding-bottom: 10px;
}

.btn-registrarEgreso {
    margin-top: 30px;
}

.form-registro-egreso {
    margin-top: 80px;
    height: 450px;
    // background-color: var(--ion-color-secundario);
    border-radius: 20px;
}