<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/tabsprincipal/menuusuario"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal" color="secondary">
  <ion-grid >
    <ion-row class="ion-justify-content-around ">
      <ion-col size="12" class="">
        <!-- <ion-nav-link router-direction="back" component="app-mi-perfil"> -->
          <ion-button [routerLink]="['/','dashboard','tabsprincipal','informacionpersonal']" size="small">
            <ion-icon name="person-outline"></ion-icon>

            <ion-grid>
              <ion-row class="ion-justify-content-around  ion-align-items-center ">
                <ion-col size="12">
                  <p class="ion-text-start ion-padding-start">Informacion personal</p>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
      <!-- </ion-nav-link> -->
      </ion-col>
    </ion-row>

    

  </ion-grid>
</ion-content>
