<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/tabsprincipal/miperfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Informacion Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal" color="secondary">

  <section class="ion-padding registro-usuario">
    <p>Usuario</p>

    <ion-item class="espacioRelleno">
      <ion-input aria-label="Light input" readonly="true" placeholder="Enter text"></ion-input>
    </ion-item>

    <p>Correo</p>

    <ion-item class="espacioRelleno">
      <ion-input aria-label="Light input" readonly="true" placeholder="Enter text"></ion-input>
    </ion-item>


  </section>

</ion-content>